html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

/* Pastikan Cesium selalu full screen */
#cesiumContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* biar di bawah tombol */
}

/* Tombol Navigasi */
#controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10; /* tombol di atas globe */
}

.btn {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
